@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('../font/GoogleSans-Regular.ttf');
@import url('../font/Heaters.otf');

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #ffa500;
    --first-color-light: #6e6e6e;
    --dark-color: #272727;
    --body-font: 'GoogleSans', sans-serif;
    --style-font: 'Heaters', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    /* overflow-x: hidden; */
    background-color: #272727;
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    color: var(--first-color-light);
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: var(--first-color-light);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
  

a {
    text-decoration: none
}

/* Header and Navbar Sections */
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--dark-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.account p{
    position: relative;
    top: 6px;
    left: -10px;
    font-weight: lighter;
}

.account p span{
    font-weight: bold;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem;
    font-family: var(--style-font);
    font-size: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    background:-moz-linear-gradient(top, var(--first-color-light) 0%, var(--dark-color) 100%);
    background: -webkit-linear-gradient(top, var(--first-color-light) 0%, var(--dark-color) 100%); 
    background: linear-gradient(to bottom, var(--first-color-light) 0%, var(--dark-color) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}

.nav_logo p{
    position: relative;
    top: 9px;
}

.nav_logo .drive{
    border-bottom: 2px solid var(--other-color);
    color: #fff !important;
}
  
.nav_logo .kmer{
    background:-moz-linear-gradient(top, var(--first-color-light) 0%, var(--dark-color) 100%);
    background: -webkit-linear-gradient(top, var(--first-color-light) 0%, var(--dark-color) 100%); 
    background: linear-gradient(to bottom, var(--first-color-light) 0%, var(--dark-color) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--dark-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--dark-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--dark-color)
}

/* Responsive for Tablets and higher */
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

/* Actions Section */
.main {
    /* height: 100vh; */
    margin: auto;
    overflow: hidden;
}

.main .alert span.location{
    font-weight: bold;
}

.main h4{
    font-size: 30pt;
    font-weight: bold;
}

#map,
.map > iframe{
    width: 100%;
    height: 50vh;
    margin-bottom: 20px;
}

.auto {
    display: block;
    margin: 20px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    transition: all .5s ease;
}

.auto:hover i{
    transform: rotateX(180deg);
}

.auto .action{
    padding: 10px 3%;
    border-radius: 20px;
}

.auto .action .head i{
    font-size: 20pt;
    color: var(--first-color);
}

.auto .action h3{
    color: var(--first-color);
    font-weight: 600;
}

.auto .action p{
    padding: 10px 20px;
    color: #fff;
    text-align: justify;
}

.auto .action.action1{
    background: linear-gradient(to bottom,rgb(0, 0, 0, .8), rgb(0, 0, 0, .6)), url('../img/actions/setroute2.png') no-repeat center;
    background-size: cover;
}
.auto .action.action2{
    background: linear-gradient(to bottom,rgb(0, 0, 0, .8), rgb(0, 0, 0, .6)), url('../img/actions/touristmap.png') no-repeat center;
    background-size: cover;
}
.auto .action.action3{
    background: linear-gradient(to bottom,rgb(0, 0, 0, .8), rgb(0, 0, 0, .6)), url('../img/actions/taximap.png') no-repeat center;
    background-size: cover;
}
.auto .action.action4{
    background: linear-gradient(to bottom,rgb(0, 0, 0, .8), rgb(0, 0, 0, .6)), url('../img/actions/reservetaxi.png') no-repeat center;
    background-size: cover;
}

.auto a{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 13pt;
    font-weight: 600;
    font-family: var(--body-font);
    color: var(--first-color);
    border: 2px solid var(--first-color);
    box-shadow: inset 0 0 0 0 var(--first-color);
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

.auto a:hover{
    box-shadow: inset 150px 0 0 0 var(--dark-color);
    color: var(--first-color);
    border-color: var(--dark-color);
}

/* Responsive for Mobile devices: S, M & L */
@media (max-width: 425px){
    .main h4{
        font-size: 20pt;
    }

    .auto {
        margin: 15px 0;
    }
}

/* Responsive for Mobile devices: S, M & L */
@media (max-width: 768px){
    .main h4{
        font-size: 25pt;
    }

    .auto {
        margin: 15px 0;
    }
}

/* My Account */

.account-hero{
    background: linear-gradient(to bottom,rgb(0, 0, 0, .6), rgb(39, 39, 39, .8)), url('../../static/img/actions/taximap.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    margin: 0;
    text-align: center;
}

.account-hero .profile-img{
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
    top: 50%;
    left: 0;
    border: var(--first-color) 10px solid;
    border-radius: 100%;
    box-shadow: 0 0 15px 10px var(--first-color);
}

.account-hero .account-text{
    position: relative;
    top: 50%;
}

.account-hero .account-text h4{
    font-size: 60pt;
    font-family: var(--style-font);
}

.account-hero .account-text h4 > span{
    color: var(--first-color);
    font-weight: bold;
    font-family: var(--body-font);
    font-size: 40pt;
}

.account-hero .account-text h5{
    font-size: 20pt;
    position: inherit;
    top: -20px;
    text-transform: capitalize;
}

.account-hero .profile-img img{
    text-align: center;
    margin: auto;
    display: block;
    width: 95%;
    height: 95%;
    border-radius: 100%;
    position: relative;
    top: 2%;
}

.account-info .actual-info{
    margin: 15px;
}

.account-info label{
    color: #dfdfdf;
}

.account-info .actual-info .info{
    background-color: #535353;
    cursor: not-allowed;
    width: 75%;
    color: #fff;
    padding: 15px 0 5px 20px;
    border-radius: 10px;
}

.account-info .actual-info .info h6,
.account-info .actual-info .info p{
    font-size: larger;
}

.account-info .modif-form{
    width: 75%;
    margin: 15px;
}

.account-info .modify{
    padding: 8px 20px;
    background: #ffa500;
    font-weight: 600;
    transition: .3s ease-in;
}

.account-info .modify:hover{
    background: #d38900;
}