{% extends 'main.html' %}
{% load static %}

{% comment %} Title of the page {% endcomment %}
{% block title %}Home{% endblock title %}

{% comment %} Body of the page {% endcomment %}
{% block body %}
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-text">
                    <h4 class="text-uppercase">The new solution is with</h4>
                    <h1><span class="kmer">KMER</span><span class="drive">DRIVE</span></h1>
                    <p>
                        It is no more a question of distance, localisation nor time. We make sure to get you to your destination through the
                        correct route. Just give us a try and be dazzled.
                    </p>
                    <a href="" class="btn get-started">Get Started</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hero-form">
                    <div class="hero-form-intro">
                        <span class="text-uppercase d-none" id="value"></span> <small class="d-none" id="xaf">XAF</small><br>
                        <img src="{% static 'img/logo-transport-white.png' %}" alt=""> <br>
                        <small class="text-muted">
                            Need a trip cost estimation ?
                        </small>
                    </div>
                    <form class="row g-3 needs-validation" novalidate>
                      
                      <div class="col-md-12">
                        <!-- <label for="input1" class="form-label">Départ</label> -->
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-map-marker-alt" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" id="input3" aria-describedby="inputGroupPrepend" placeholder="Start (Ex. Ekounou marché)" required>
                          <div class="invalid-feedback">
                            Please enter a starting point.
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <!-- <label for="input2" class="form-label">Arrivé</label> -->
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-map-signs" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" id="input3" aria-describedby="inputGroupPrepend" placeholder="Destination (Ex. Château Ngoa-ekele)" required>
                          <div class="invalid-feedback">
                            Please enter a destination point.
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <button class="btn" type="submit">Estimate my trip cost.</button>
                      </div>
                    </form>
                    <script>
                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                    (function () {
                      'use strict'
                    
                      // Fetch all the forms we want to apply custom Bootstrap validation styles to
                      var forms = document.querySelectorAll('.needs-validation')
                    
                      // Loop over them and prevent submission
                      Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                          form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                              event.preventDefault()
                              event.stopPropagation()
                            } else {
                                var valueReturn = document.getElementById('value');
                                var xaf = document.getElementById('xaf');
                                xaf.classList.remove('d-none');
                                valueReturn.classList.remove('d-none');
                                valueReturn.innerHTML = '~ 1234';
                                
                                event.preventDefault()
                                event.stopPropagation()
                            }
                    
                            form.classList.add('was-validated')
                          }, false)
                        })
                    })()
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

  <!-- ========== Start Flip Card ========== -->
  <div class="row">
    <div class="col-md-12">
      <div class="section-title">
        <h1>Our Services</h1>
        <h2>Our Services</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box-item col-md-3">
      <div class="flip-box">
        <div class="flip-box-front" style="background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)), url('../static/img/img3.jpg')">
          <div class="inner-fr d-flex align-items-center justify-content-between">
            <div class="">
              <h3 class="flip-box-header inner-front">Pedestrian</h3>
            <p>
              Whether take a drive or not ?
            </p>
            </div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </div>
        </div>
        <div class="flip-box-back">
          <div class="inner-ba">
            <h3 class="flip-box-header inner-back"><span>Ped</span>estrian</h3>
            <p>
              Not always easy to know when it's really appropriate to get a taxi or just continue your way by trekking ? <b>KmerDrive</b>
              helps you to evaluate your expenses and gives you the details about your route, concerning the distance, cost and
              estimated arrival time.
            </p>
            <button class="flip-box-button text-capitalize">
              Give a try <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-item col-md-3">
      <div class="flip-box">
        <div class="flip-box-front" style="background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)), url('../static/img/img4.jpg')">
          <div class="inner-fr d-flex align-items-center justify-content-between">
            <div class="">
              <h3 class="flip-box-header inner-front">Tourist</h3>
            <p>
              First time ever ?
            </p>
            </div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </div>
        </div>
        <div class="flip-box-back">
          <div class="inner-ba">
            <h3 class="flip-box-header inner-back"><span>Tou</span>rist</h3>
            <p>
              Don't whether about if it is your first time here. <b>KmerDrive</b> will guide you throughout the area, showing you some
              amazing places to visit and also making sure you don't spend a lot on transport.
            </p>
            <button class="flip-box-button text-capitalize">
              Let's Start <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-item col-md-3">
      <div class="flip-box">
        <div class="flip-box-front" style="background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)), url('../static/img/img1.jpg')">
          <div class="inner-fr d-flex align-items-center justify-content-between">
            <div class="">
              <h3 class="flip-box-header inner-front">Vehicled</h3>
            <p>
              You better got a vehicle!
            </p>
            </div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </div>
        </div>
        <div class="flip-box-back">
          <div class="inner-ba">
            <h3 class="flip-box-header inner-back"><span>Veh</span>icled</h3>
            <p>
              Some of us like moving around with our cars/bikes/etc. No problem! <b>KmerDrive</b> also have a solution for you all. Is it
              that you wish the best and good roads ? Or something else ?
            </p>
            <button class="flip-box-button text-capitalize">
              Discover <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-item col-md-3">
      <div class="flip-box">
        <div class="flip-box-front" style="background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)), url('../static/img/img2.jpg')">
          <div class="inner-fr d-flex align-items-center justify-content-between">
            <div class="">
              <h3 class="flip-box-header inner-front">Taxi Driver</h3>
            <p>
              What if my vehicle is a taxi?
            </p>
            </div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </div>
        </div>
        <div class="flip-box-back">
          <div class="inner-ba">
            <h3 class="flip-box-header inner-back"><span>Taxi</span> Driver</h3>
            <p>
              No problem! And I guess you wish to know those places where you can find a large number of poeple... <b>KmerDrive</b>
              provides all those for you for free!
            </p>
            <button class="flip-box-button text-capitalize">
              Discover <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========== End Flip Card ========== -->

</div>
{% endblock body %}